<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../styles/dating.css">
  <link rel="stylesheet" href="../styles/matches.css">
  <title>Partners&Pets</title>
</head>

<body>

  <header>
    <h1><a href="/profile/<%= session.user.id %>">Partners&Pets</a></h1>
    <a href="/matches"><img src="../images/hartwit.png" alt="matches"></a>
    <img id="profile" src="../images/profileicon.png" alt="Profiel">
  </header>
  <div id="nav" class="dropdown">
    <a href="/profile/<%= session.user.id%>">Profiel</a>
    <a href="/logout">Log uit</a>
  </div>

  <main>
    <h3> <%= data.name %> </h3>
    <img class="profielfoto" src='../uploads/<%= data.img %>' alt="profielfoto">

    <label>Leeftijd: <%= data.age %> jaar</label>
    <label>Geslacht: <%= data.gender %></label>
    <label>Favoriete huisdier: <%= data.favpet %></label>
    <label>Huisdier?: <%= data.pet %> </label>
    <label>Woonplaats: <%= data.city %> </label>

    <% messages.forEach(function(message, index){ %>
      <article>
        <h2><%= message.other %></h2>
        <h2><%= message.chatting %></h2>
      </article>
      <% }) %>


        <!-- Source: Wouter Lem & Jessie.
        session && session.loggedIn checks two things. First it checks if session exists,
        so if it is true or false. Because session has a value that is transferred to a boolean within an if statement.
        If session is undefined it becomes false, otherwise it is true. After you know if session is true,
        you also want to know if session.loggedIn is true. So you do the same thing with session.
        && stops with checking everything ones it comes along something that is false.
        Both of them have to be true.
        You can not just doe session.loggedIn, because you have to know if session exists first. -->
        <% if (session && session.loggedIn) { %>
          <form class="chat" action="/chat" method="post">
            <label>
          <input class="chatbox" type="text" name="chatting" placeholder="Hallo, hoe gaat het?">
          <input type="hidden" name="me" value="<%= session.user.id %>">
          <input type="hidden" name="other" value="<%= data.id %>">
          <input class="button" type="submit"value="Verstuur">
        </label>

          </form>
          <% } %>
  </main>

  <script src="../js/dropdown.js"></script>
</body>

</html>
