<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../styles/dating.css">
    <link rel="stylesheet" href="../styles/matches.css">
    <title>Partners&Pets</title>
  </head>
  <body>

    <header>
        <h1><a href="/profiel">Partners&Pets</a></h1>
        <a href="/matches"><img src="../images/hartwit.png" alt="matches"></a>
        <a href="/chat"><img src="../images/chaticon.png" alt="chat"></a>
        <img id="profile" src="../images/profileicon.png" alt="Profiel">
    </header>
  <div id="nav" class="dropdown">
      <a href="/profiel/<%= session.user.id%>">Profiel</a>
      <a href="/logout">Log uit</a>
    </div>

    <main>
      <h3> <%= data.name %> </h3>
      <img class="profielfoto" src= '<%= data.photo %>' alt="profielfoto">

      <label>Leeftijd: <%= data.age %> jaar</label>
      <label>Geslacht: <%= data.gender %></label>
      <label>Favoriete huisdier: <%= data.favpet %></label>
      <label>Huisdier?: <%= data.pet %> </label>
      <label>Woonplaats: <%= data.city %> </label>

<% messages.forEach(function(message, index){ %>
<article>
  <h2><%= message.other %></h2>
  <h2><%= message.chatting %></h2>
</article>
<% }) %>

<% if (session && session.loggedIn) { %>
      <form class="chat" action="/chat" method="post">
        <label>
          <input type="text" name="chatting" value="Hallo, hoe gaat het?">
          <input type="hidden" name="me" value="<%= session.user.id %>">
          <input type="hidden" name="other" value="<%= data.id %>">
          <input type="submit"value="Verstuur">
        </label>

      </form>
<% } %>
    </main>

<script src="../js/dropdown.js"></script>
  </body>
</html>
